body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: antiquewhite;
    background-color: rgb(72, 53, 36);
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 320px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    font-size: 1.5rem;
    border-bottom: antiquewhite solid 1px;
    background-color: rgb(72, 53, 36);
    margin: 0;
}

header img {
    width: 4rem;
    height: 4rem;
    margin-left: 1.5rem;
}

nav ul li {
    list-style-type: none;
    text-decoration: underline;
    padding-right: 1.5rem;
    display: inline-block;
}

main {
    width: 95%;
    padding-top: 8rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Welcome Banner Section */
.welcomePage {
    background-image: url("./images/friends.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.welcomePage .banner {
    background-color: rgb(72, 53, 36);
    width: 100%;
    height: fit-content;
}

#smoll {
    display: none;
}

.flexbox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/* Team Section */
.team {
    width: 80%;
    font-size: 2.5rem;
    margin: 1.5rem;
}

.teamPics {
    width: 42%;
    min-width: 230px;
    background-color: rgb(206, 169, 134);
    color: black;
    margin: 5px;
}

.teamPics img {
    width: 95%;
    height: auto;
    margin: 2.5%;
}

.teamPics figcaption {
    margin: 2.5%;
}

/* Burger Menu Section */
.burgers {
    width: 100%;
    font-size: 2.5rem;
    background-color: rgb(141, 104, 72);
    margin: 1.5rem;
}

.burgerPics {
    width: 30%;
    min-width: 200px;
    background-color: rgb(206, 169, 134);
    color: black;
    margin: 1rem;
}

.burgerPics img {
    width: 95%;
    height: auto;
    margin: 2.5%;
}

.burgerPics figcaption {
    margin: 2.5%;
}

/*Contact Us Section */
.contact {
    width: 90%;
    font-size: 2rem;
    margin: 1.5rem;
}

.contact img {
    width: 30%;
    min-width: 240px;
    height: auto;
    padding: 0.5em;
    border: antiquewhite solid 1px;
    background-color: rgb(141, 104, 72);
}

.contact p {
    padding: 0, 3rem;
    line-height: 3.5rem;
    width: 60%;
}

/* Footer Section */
footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    border-top: antiquewhite solid 1px;
}

@media only screen 
    and (max-width: 1200px)
    and (min-width: 769px) {
        .welcomePage {
            height: 70rem;
        }
        
        footer {
            display: block;
        }
    }

    @media only screen
    and (max-width: 768px) 
    and (min-width: 481px) {
        main {
            width: 100%;
        }
        
        header h2 {
            display: none;
        }

        header img {
            margin-left: 0.5rem;
        }

        .welcomePage {
            height: 50rem;
        }
        
        .team, .burgers {
            font-size: 2rem;
        }

        .team {
            width: 90%;
        }

        .contact {
            font-size: 1.5rem;
            margin: 1.25rem;
        }

        .contact p {
            padding: 2rem;
            line-height: 2.5rem;
        }

        footer {
            display: block;
        }
    }

    @media only screen
    and (max-width: 480px) {
        main {
            width: 100%;
        }
        
        header {
            font-size: 1rem;
        }

        header h2 {
            display: none;
        }

        header img {
            margin-left: 0.5rem;
        }

        .welcomePage {
            height: 30rem;
            font-size: 1rem;
        }

        .welcomePage h1 {
            display: none;
        }

        #smoll {
            display: block;
        }
        
        .team, .burgers {
            font-size: 1.5rem;
        }

        .team {
            width: 90%;
        }

        .contact {
            font-size: 1rem;
            margin: 1rem;
        }

        .contact p {
            padding: 1rem;
            line-height: 1.5rem;
        }

        footer {
            display: block;
        }        
    }